/* Variable Declaration */
:root{
    /*colors*/
    --white: #fff;
    --black: #000;
    --orange: #FFAD5A;
    --grapefruit: #FF5959;
    --blacklacquer : #3E3E3E;
    --carbon: #333333;
    --grimreaper: #13103A;

    /* Fonts*/
    --poppins:'Poppins', sans-serif;
    --yeseva-one:'Yeseva One', cursive;
    --lobster: 'Lobster', cursive;
    --monrope: 'Manrope', sans-serif;

}


/* Global Declaration */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--poppins);
}

section{
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 1128px;
}

.vertical-items{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.vertical-item-one{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.vertical-item-two{
    width: 520px;
}

.vertical-item-three{
    width: 100%;
}

.vertical-item-right{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.width-40{
    width: 40%;
}

.width-60{
    width: 60%;
}

.section-header{
    color: var(--grimreaper) ;
    font-weight: 800;
    font-size: 48px;
    line-height: 70px;
}

.section-title{
    color: var(--carbon);
    font-size: 36px;
    font-weight: 800;
}

.text-orange{
     color: var(--orange);
}

.content{
    font-size: 18px;
    line-height: 30px;
    color: var(--blacklacquer);
}

.red-button{
    background-color: var(--grapefruit);
    text-align: center;
    text-transform: capitalize;
    color: var(--white);
    padding: 12px 37.5px;
    text-decoration: none;
    border-radius: 8px;
}

.button-container{
    display: flex;
}

.card{
    margin: 0 12px;
    border-radius: 26px;
    padding: 25px 32px;
}

.card:first-child{
    margin-left: 0;
}

.card:last-child{
    margin-right: 0;
}

.card img{
    width: 141px;
}

.card .card-title{
    color: var(--black);
    font-weight: 600;
    font-size: 24px;
    margin: 12px 0 16px;
}

.image-wrapper{
    position: relative;
}

.image-wrapper img{
    width: 400px;
}

.content-wrapper .content{
    margin-top: 17px;
}

.content-wrapper .button-container .red-button{
    margin-top: 18px;
    padding: 14px 31px;
}

/* Main Header Container */
#main-header{
    padding: 0 0 60px;
}

.heading-content-wrapper{
    padding-left: 20px;
    position: relative;
}

.heading-content-wrapper .heading{
    font-family: var(--yeseva-one);
    font-size: 60px;
    line-height: 80px;
    color: var(--carbon);

}

.heading-content-wrapper .heading-text{
    color: var(--blacklacquer);
    font-size: 18px;
    line-height: 28px;
}

.heading-content-wrapper .heading-btn{
    margin-top: 31px;
}

.heading-content-wrapper .explore-more{
    margin-top: 33px;
}

.heading-content-wrapper .left-bar{
    width: 4px;
    height: 125px;
    background-color: var(--grapefruit);
    border-radius: 5px;
    position: absolute;
    left: 0;
    top: 18px;
    margin-right: 13px;
}

.heading-image-wrapper img{
    width: 500px;
}


/* My Mission Section */
#mission{
    margin-bottom: 85px;
}

#mission .vertical-item-one{
    margin-bottom: 48px;
}

.mission-card{
    height: 428px;
}

.card.mission-card-first{
    background-color: rgba(79, 157, 166, 0.1);
}

.card.mission-card-second{
    background-color: rgba(255, 89, 89, 0.1);
}

.card.mission-card-third{
    background-color: #FFF4D6;
}

/* Develop Without Limit */
#develop-limitless{
    margin-bottom: 105px;
    position: relative;
}

#develop-limitless .image-wrapper .left-circle{
    position: absolute;
    left: -90px;
    top: 50px;
    z-index: -1;
}
#develop-limitless .image-wrapper .left-circle .shape-1{
    width: 227px;
}

#develop-limitless .dots-container{
    position: absolute;
    left: 210px;
    bottom: -100px;
}
#develop-limitless .dots-container .dots{
    width: 150px;
}

/* Global Community */
#global-community{
    margin-bottom: 85px;
}

/* Contact */
#contact{
    margin-bottom: 85px;
}

#contact .section-title{
    margin-bottom: 17px;
}

#contact form input,
#contact form textarea{
    width: 100%;
    padding: 20px;
    margin: 10px 0;
    border: 1px solid var(--carbon);
}

#contact form input::placeholder,
#contact form textarea::placeholder{
    font-size: 18px;
}

#contact form input:focus-visible,
#contact form textarea:focus-visible{
    outline-color: var(--grapefruit);
}

#contact form input:first-child{
    margin-top: 0;
}

#contact form input:last-child{
    margin-bottom: 0;
}

#contact form input{
   height: 60px;
}

#contact .button-container .red-button{
    border: none;
}

/* Footer */
#footer{
    background-color: var(--black);
    padding: 39px 0 46px;
}

#footer h2{
    font-family: var(--lobster);
    color: var(--white);
    font-size: 36px;
    line-height: 44px;
    letter-spacing: 0.5px;
}

#footer h2 .red-text{
    color: var(--grapefruit);
}

#footer .copyright{
    color: var(--white);
    font-family: var(--monrope);
    font-size: 14px;
    line-height: 24px;
    margin-top: 24px;
}

#footer .copyright a{
    text-decoration: none;
    color: var(--white);
}