/* Variable Declaration */
:root{
    --white: #fff;
    --black: #000;
    --orange: #FFAD5A;
    --grapefruit: #FF5959;
    --blacklacquer : #3E3E3E;
    --carbon: #333333;
    --grimreaper: #13103A;

}


/* Global Declaration */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

section{
    display: flex;
    align-items: center;
    justify-content: center;
}





.container {
    width: 1128px;
}

.vertical-items{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.vertical-item-one{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.vertical-item-two{
    width: 520px;
}

.vertical-item-three{
}

.vertical-item-right{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.section-header{
    color: var(--grimreaper) ;
    font-weight: 800;
    font-size: 48px;
    line-height: 70px;
}

.text-orange{
     color: var(--orange);
}

.red-button{
    background-color: var(--grapefruit);
    text-align: center;
    text-transform: capitalize;
    color: var(--white);
    padding: 12px 37.5px;
    text-decoration: none;
    border-radius: 8px;
}

.button-container{
    display: flex;
}

.card{
    margin: 0 12px;
    border-radius: 26px;
    padding: 25px 32px;
}

.card:first-child{
    margin-left: 0;
}

.card:last-child{
    margin-right: 0;
}

.card img{
    width: 141px;
}

.card .card-title{
    color: var(--black);
    font-weight: 600;
    font-size: 24px;
    margin: 12px 0 16px;
}

/* Main Header Container */
#main-header{
    padding: 80px 0 60px;
}

.heading-content-wrapper{
    padding-left: 20px;
    position: relative;
}

.heading-content-wrapper .heading{
    font-family: 'Yeseva One', cursive;
    font-size: 60px;
    line-height: 80px;
    color: var(--carbon);

}

.heading-content-wrapper .heading-text{
    color: var(--blacklacquer);
    font-size: 18px;
    line-height: 28px;
}

.heading-content-wrapper .heading-btn{
    margin-top: 31px;
}

.heading-content-wrapper .explore-more{
    margin-top: 33px;
}

.heading-content-wrapper .left-bar{
    width: 4px;
    height: 125px;
    background-color: var(--grapefruit);
    border-radius: 5px;
    position: absolute;
    left: 0;
    top: 18px;
    margin-right: 13px;
}

.heading-image-wrapper img{
    width: 385px;
}


/* My Mission Section */
#mission .vertical-item-one{
    margin-bottom: 48px;
}
.card.mission-card-first{
    background-color: rgba(79, 157, 166, 0.1);
}

.card.mission-card-second{
    background-color: rgba(255, 89, 89, 0.1);
}

.card.mission-card-third{
    background-color: #FFF4D6;
}